<!-- <div class="row">
    <div class="col-4"></div>
    <div class="col-4  mt-5">
        <form action="" class="mt-5 border border-light shadow-lg rounded bg-light p-5 ">
            <div class="text-center">
            <img src="./bankimage/bank.jpeg " class="w-25 h-25 rounded">
        </div>
            <div class="text-center fw-bold mt-3 ">My Bank</div>
            
           
            <input type="text" id="reg_uname" placeholder="Username" class="form-control rounded-pill shadow mt-4">
            <input type="text" id="reg_acno" placeholder="Account Number" class="form-control rounded-pill shadow mt-3">
            <input type="password" id="reg_pswd" placeholder="password" class="form-control rounded-pill shadow mt-3">

            <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary rounded-pill mt-5 text-light" onclick="register()">Register
                </button>
              </div>

              <div class="d-grid gap-2 text-center mt-3">
                <a href="./index.html" style="text-decoration: none;" >Sign in</a>
                  </div>
        </form>
    </div>
    <div class="col-4"></div>
</div> -->
